<!DOCTYPE html>
<html>
<head>
  <title>index Page</title>
  <link rel="stylesheet" href="/SynergyDashboardUI/components/harikarthik/css/index.css">
  <!-- <script src="/components/hari/js/index.js"></script> -->
</head>
<body>
  <div class="welcome-message">
    <h2>
      <span class="letter">Hello</span>
      <span class="letter">Hari</span>
      <span class="letter">!!</span><br>
      <span class="letter">Welcome</span>
      <span class="letter">To</span>
      <span class="letter">G2</span>
      <span class="letter">Tech</span>
      <span class="letter">!!</span>
      
   
    </h2>
  </div>

  <script>
    const letters = document.querySelectorAll('.letter');
    let delay = 0.3;
    
    letters.forEach(letter => {
      letter.style.animationDelay = delay + 's';
      delay += 0.3;
    });
  </script>
</body>
</html>